* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  body {
    height: 100%;
    width: 100%;
  }
  
  .hero {
    background-color: #1f2937;
    height: 400px;
  }
  
  .header__navbar {
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
  }
  
  .header__links, ul, a{
    list-style-type: none;
    text-decoration: none !important;
    color: #e5e7eb;
    font-weight: 18px;  
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  .header__logo {
    color: #f9faf8;
    font-size: 24px  !important;
  }
  
  .hero__heading {
    
    font-size: 48px;
    color: #f9faf8;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 450px;
    margin-top: 60px;
    padding-left: 10%;
  }
  
  .hero__subtext {
    font-weight: 18px;
    color: #e5e7eb;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 450px;
    padding-left: 10%;
  }
  
  .hero__button {
    background-color: #3882f6;
    color: #f9faf8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: 10%;
    border-radius: 5px;
    margin-left: 10%;
    height: 30px;
    width: 100px;
    text-align: center;
    border: none;
    margin-top: 10px;
    font-weight: bold;
  }
  
  .hero__button:active {
    background-color: azure;
    opacity: 75%;
  }
  
  .hero__image {
    background-color: gray;
    width: 500px;
    height: 200px;
    color: #f9faf8;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    margin-left: 700px;
    margin-top: -250px;
  }
  
  .image__shit {
    text-align: center;
    margin: auto;
    padding: 10px;
    vertical-align: middle;
  }
  
  .information {
    height: 400px;
    background-color: #f9faf8;
    padding: 30px;
  }
  
  .information__card {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    border: solid blue 2px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .information__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 5px;
    margin-top: 40px;
  }
  
  .information__heading {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
  }
  
  .information__subtext {
    text-align: center;
    margin: 0;
    width: 200px;
    flex-wrap: wrap;
    display: flex;
  }
  
  .quote {
    height: 300px;
    background-color: #e5e7eb;
    padding: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .quote__text{
    text-align: center;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
  }
  
  .quote__quoter  {
    padding-top: 150px;
  }
  
  .cta__container {
    height: 200px;
    background-color: #f9faf8;
  }
  
  .cta__action {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    height: 140px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  
  .cta__heading {
    font-weight: bold;
    font-size: 18px;
    margin: 25px 0 0 0;
    padding-left: 35px;
    
  }
  
  .cta__subtext {
    margin: 0;
    padding-left: 35px;
    
  }
  
  .cta__button {
    background-color: #3882f6;
    border-color: white;
    border-radius: 5px;
    color: white;
    height: 30px;
    width: 85px;
    position: absolute;
    display: flex;
    margin-right: 15px;
    align-self: flex-end;
    padding: 0 15px;
  }
  
  .footer__text {
    color: #f9faf8;
    font-size: 10px;
  }
  
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: #1f2937;
  }